@page
@model AdminLoginModel
@{
    ViewData["Title"] = "Admin Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TarlBreuJacoBaraKnor.styles.css" asp-append-version="true" />
    <title>@ViewData["Title"] - Campus Eats</title> 
</head>

<body class="bg-light">
    <section class="min-vh-100 d-flex align-items-center">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            Admin<br />
                            <span class="text-primary">Log In</span>
                        </h1>
                        <p class="text-muted">
                            Fast delivery and pickup, easy payments, and zero waiting in line.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form method="post">
                                @Html.AntiForgeryToken()
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="mb-4">
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger small"></span>
                                </div>

                                <div class="mb-4">
                                    <label asp-for="Input.Password" class="form-label"></label>
                                    <input type="password" asp-for="Input.Password" class="form-control"/>
                                    <span asp-validation-for="Input.Password" class="text-danger small"></span>
                                </div>

                                <input type="hidden" asp-for="ReturnUrl" />

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block mb-4 btn-lg">
                                        Log in
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>